<!-- UI while in menus -->
{{ #if !loading }}
    <div id="menu-ui-container" fade-in-out data-state="{{ state }}">
        {{ #if state.indexOf('playing') !== 0 }}
            {{ > title }}
        {{ /if }}
        {{ #if state === STATES.MENU_GAME_SCREEN        }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_STORE_SCREEN       }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_CONFIG_SCREEN      }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_CREDITS_SCREEN     }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_TUTORIAL_SCREEN    }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_LEADERBOARD_SCREEN }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.RESPAWN_SCREEN          }} {{ > death     }} {{ /if }}
        {{ #if state === STATES.KICKED_SCREEN           }} {{ > kicked    }} {{ /if }}
        {{ #if state === STATES.GAME_INIT_ERROR         }} {{ > initerror }} {{ /if }}

        {{ #if state.indexOf('playing') !== 0
        && state !== STATES.KICKED_SCREEN
        && state !== STATES.GAME_INIT_ERROR }}
            {{ > tabs }}
            {{ > copyright }}
        {{ /if }}
    </div>

    <!-- UI while playing -->
    {{ #if state.indexOf('playing') === 0 }}
    <div id="play-ui-container" fade-in-out data-state="{{ state }}">
        {{ #if state === STATES.PLAYING }}
            {{ > leaders     }}
            {{ > gear-btn    }}
            {{ > player-size }}
            {{ > targets     }}
            {{ > size-meter  }}
        {{ /if }}

        {{ #if is_admin && state === STATES.PLAYING }}
        <div id="admin-hud">
            Bots: {{ #if admin_bots_enabled }}{{ #if admin_rl_enabled }}RL{{ else }}ON{{ /if }}{{ else }}OFF{{ /if }}
            <span id="admin-hud-hint">[V] toggle RL &middot; [G] spectate &middot; [Esc] leave</span>
        </div>
        {{ /if }}
        {{ #if !is_admin && state === STATES.PLAYING }}
        <div id="mode-hud">
            <span id="mode-hud-hint">[G] toggle spectate</span>
        </div>
        {{ /if }}
        {{ #if tracked_bot_name && state === STATES.PLAYING }}
        <div id="track-hud">
            Tracking: {{ tracked_bot_name }} <span id="track-hud-hint">[T] stop</span>
        </div>
        {{ /if }}
        {{ #if state === STATES.PLAYING_CONFIG }}
            {{ > config-play }}
        {{ /if }}

        {{ #if server_message }}
            <div id="server-message"> {{ server_message }} </div>
        {{ /if }}

        {{ #if steering_toast_message_visible }}
            <div fade-in-out id="steering-toast-message">Center mouse to fly straight</div>
        {{ /if }}

        {{ #if steering_toast_circles_visible }}
            <div fade-in-out id='toast-circles'>
                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle three"></div>
                <div class="circle four"></div>
                <div class="circle five"></div>
            </div>
        {{ /if }}

    </div>
    {{ /if }}
{{ /if }}
